# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Flask
instance/

# Database
*.db
*.sqlite3

# Uploaded Files
uploads/*

# Environment Variables
.env

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
